.card_container{
    display: flex;
    margin: 5vh;
    margin-top: 10vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.card_row_1{
    margin-top:4rem ;
    display: flex;
}
.card_row_2{
    margin: 4rem 7rem;
   
    display: flex;
}
.cardspo{
    padding: 10px 30px;
    margin: auto;
    width: 25rem;
}
.cardspo .card{
    background-image: linear-gradient(to bottom right,rgb(233, 156, 243), rgb(162, 35, 187),rgb(13, 13, 136));
}

@media only screen and (max-width: 1250px){
    .cardspo{
        width: 18rem;
    }
}
@media only screen and (max-width: 970px){
    .cardspo{
        width: 15rem;
    }
}

@media only screen and (max-width: 850px) {
    .card_container{
     flex-direction: column;
     width: 100%;
     margin: 0;
     padding: 0;
    }
    .card_row_1{
        width: 100%;
        flex-direction: column;
        margin: 3rem;
        margin-bottom: 0;
    }
    .card_row_2{
        width: 100%;
        flex-direction: column;
        margin: 3rem;
        margin-top: 0;
        margin-bottom: 3rem;
    }
    .cardspo{
        /* margin: 3rem; */
        width: 80%;
    }
  }


