body {
  background-color: #19153d;
}
.Heading {
  font-size: 60px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin: 30px;
  text-align: center;
  background-image: linear-gradient(45deg, violet, rgb(58, 58, 255));
  background-clip: text;
  color: transparent;
  position: relative;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  line-height: 0.8em;
  outline: none;
}
.Heading:hover {
  color: #fff;
  text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
    0 0 80px #03bcf4, 0 0 160px #03bcf4;
}

.projectscontent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: "poppins", sans-serif;
}

.div1 {
  width: 320px;
  height: 350px;
  background-color: #19153d;
  margin: 15px 45px 15px 45px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  box-shadow: 0 0 10px violet, 0 0 40px rgb(58, 58, 255);
}

.div1:hover {
  color: #255784;
  background: linear-gradient(45deg, violet, blue);
}

.div1 img {
  width: 250px;
  margin-top: 20px;
  border-radius: 8px;
}

.Cardsheading {
  text-align: center;
  color: whitesmoke;
  font-weight: bolder;
  font-size: 25px;
  margin: 8px 0 5px 0;
}

.div1 p {
  color: white;
}

.cardsp {
  font-size: 16px;
}

.Cardsline{
  background-color: gray;
  height: 1px;
  margin: 3px 15px 9px 15px;
}

/* Registration section */

.Heading1 {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(45deg, violet, rgb(123, 123, 240));
  background-clip: text;
  color: transparent;
  position: relative;
  -webkit-box-reflect: 1px linear-gradient(transparent, #0004);
  line-height: 0.8em;
  outline: none;
}
.Heading1:hover {
  color: #fff;
  text-shadow: 0 0 10px #3d0461, 0 0 20px #3d0461, 0 0 40px #cb7dfc,
    0 0 80px #3d0461, 0 0 160px #3d0461;
}
.Heading2 {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(45deg, violet, rgb(58, 58, 255));
  background-clip: text;
  color: transparent;
  position: relative;
  -webkit-box-reflect: 1px linear-gradient(transparent, #0004);
  line-height: 0.8em;
  outline: none;
}
.Heading2:hover {
  color: #fff;
  text-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
    0 0 80px #03bcf4, 0 0 160px #03bcf4;
}

/*-------------------- Responsive --------------------*/

@media (max-width: 770px) {
  .Heading {
    font-size: 45px;
    margin: 20px 0 20px 0;
  }

  .div1 {
    width: 250px;
    height: 280px;
    margin: 15px 45px 15px 45px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }

  .div1 img {
    width: 190px;
    margin-top: 15px;
    border-radius: 8px;
  }

  .Cardsheading {
    font-size: 22px;
    margin: 5px 0 0 0;
  }

  .cardsp {
    font-size: 12px;
    margin: 0;
  }

  .Cardsline{
    margin: 3px 5px 8px 5px;
  }
}
